@use '../abstract' as *;


.bite-size {
  @include flex-justify-align(row, center, center);
  background: $darker;
  width: fit-content;
  position: relative;
  // padding: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  


  .avatar {
    @include flex(row);
    width: 30%;
    flex-shrink: 0;
    border-radius: $borderRad;
    align-self: center;
    min-width: 300px;
    margin: 20px;
  }
  
  .info-container {
    @include flex-justify-align(column, center, center);
    padding: 0 20px;
    flex-grow: 1;
    .info {
      @include flex-justify-align(column, center, center);
      row-gap: 10px;
      margin: 20px;
      
      & > * {
        width: 100%;
        margin: 0;
      }

      h1 {
        color: $primary_accent;
        font-size: 2em;
      }

      h2 {
        font-size: 0.9em;
      }

      
    }
  }
}