@use '../abstract' as *;

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sticky-layout {
  position: relative;
  animation: fadein 1s;

  // Eeww.
  .sticky-child {
    position: sticky;
    top: 0px;
    z-index: -1;
    background: $darkest;
  }

  header > .title {
    font-size: 3rem;
    font-weight: bolder;
    color: $primary_accent;
    text-shadow: black 0 0 7px;
  }


  main {
    @include flex-justify-align(column, center, center);
    border-top-left-radius: $borderRad ;
    border-top-right-radius: $borderRad ;
    z-index: 0;
    padding: 10% 7%;
    min-height: 100vh;

    

    & > * {
      width: 100%;
      margin: 20px;

    }
  }

  

  main, footer {
    background: $dark;
    color: $font_light;
  }

  footer {
    padding: 2% 7%;
  }

  &:first-child {
    margin-top: 0%;
  }
}