@import 'vars';


html {
  height: 100%;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
    display: inline-block;
}

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;

    font-family: 'Space Mono', monospace;
    font-size: 1.7em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: inherit;
    width: inherit;
    background: $col_light;
    color: $font_dark;

    ::selection {
        background-color: $col_accent;
        color: $font_light;
    }
  // overflow: scroll;

}

#root {
    @include flex(row);
    height: inherit;
    width: inherit;
    overflow-y: hidden;
    font-size: 1.3rem;

    & > .right{
        @include flex(column);
        flex-grow: 1;
        overflow-y: auto;
        height: 100vh;

        // main, header, footer {
        //     width: 55vw;
        //     margin: auto;
        // }

        // main {
        //     @include flex(column);
        //     flex-grow: 1;
        //     overflow: auto;
        // }

        // header {
        //     margin-top: 5%;
        // }
        
    }



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// strip buttons down to skeletons
button {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;

}


@media screen and (max-width: 804px) {
    #root {
        @include flex(column);

        // .right {
        //     header, main, footer {
        //         width: 65vw;
        //     }
        // }
    }
    
}    

