.sticky-layout {
  position: relative;

  // Eeww.
  .sticky-child {
    position: sticky;
    top: 0px;
    z-index: -1;
    background: $darkest;
  }

  header > .title {
    font-size: 3rem;
    font-weight: bolder;
    color: $primary_accent;
    text-shadow: black 0 0 7px;
  }


  main {
    border-top-left-radius: $borderRad ;
    border-top-right-radius: $borderRad ;
    z-index: 0;
    padding: 10% 7%;

    

    & > section {
      margin: 50px 0px;
    }
  }

  main, footer {
    background: $darker;
    color: $font_light;
    
  }

  footer {
    padding: 2% 7%;
  }

  &:first-child {
    margin-top: 0%;
  }
}