.skill-cat {
  @include flex(column);
  padding: 12px;
  width: fit-content;
  border-radius: $borderRad;

  .title {
    @include flex-justify-align(column, center, center);
    border: 2px solid $primary_accent;
    color: $font_light;
    border-radius: 8px;
    & > h1{
      font-size: 1.6rem;
      margin: 0px;
    }
    
    // border-top-left-radius: inherit;
    // border-top-right-radius: inherit;
    // padding:  0 30px;
  }

  // & > h1 {
  //   width: 100%;
  //   margin: 8px 0px;
  //   color: white;
  //   text-align: center;
  // }

  .skill-set {
    @include flex(row);
    flex-wrap: wrap;
    max-width: 808px;
    overflow-y: auto;

    .skill {
      @include flex(row);
      background: $darker;
      color: $font_light;
      font-size: 1em;
      border-radius: $borderRad;
      margin: 8px 0px;
      box-shadow: inset 0px 0px 2px $primary_accent;
      
      
      width: 50%;


      .skill-name, .pill-case {
        padding: 20px;
      }

      .skill-name {
        max-width: max-content;
      }

      .mid-pad {
        flex-grow: 1;
      }

      .pill-case {
        @include flex-justify-align(row, flex-end, center);
        flex-grow: 1;
        padding: 0 20px;
        max-width: fit-content;
        
        & > .dead-pill {
          background: grey;
          width: 18px;
          height: 18px;
          margin: 10px 4px;
          border-radius: 18px;
        }

        & > .active-pill {
          background: rgb(0, 235, 156);
        }
      }
    }

    // .skill:first-child {
    //   margin-top: 0px;
    // }

    .skill:last-child {
      margin-bottom: 0px;
    }
  }
}

.neon-container {
  background: $darker;
  color: $font_light;
  box-shadow: 0 0 3px $primary_accent;
  border-radius: $borderRad;
  max-width: 1025px;
  // animation: fadeIn 2s;

  
  & > h1 {
    color: $primary_accent;
  }
}

.skill {
  @include flex(row);
  margin: 8px 0px;
  padding: 10px 0;
  width:fit-content;
  // width: 500px;

  .mid-pad {
    flex-grow: 1;
  }

  .skill-name {
    padding: 0 10px 0 20px;
    width: 250px;
    min-width: 0;
    font-size: 100%;

  }

  .pill-case {
    @include flex-justify-align(row, flex-end, center);
    flex-grow: 1;
    padding: 0 20px;
    
    & > .dead-pill {
      background: grey;
      width: 18px;
      height: 18px;
      margin: 10px 4px;
      border-radius: 18px;
    }

    & > .active-pill {
      background: rgb(0, 235, 156);
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.institution {
  position: relative;

  .stat-list {
    @include flex-justify(row, flex-end);
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;

    & > .status {
      background: $primary_accent;
      font-size: 1rem;
      padding: 0 5px;
      border-radius: 3px;
      color: black;
    }    
  }

  .gen-info {
    margin: 20px;

    & > h2 {
      color: $primary_accent;
      width: 60%;
      margin: 0;
    }

    & > h3 {
      // background: orange;
      width: 80%;
      margin: 7px 0;
      font-weight: lighter;
      font-size: 1rem;
    }
  }

  & > h2 {
    width: 60%;
    margin: 0;
  }

  & > h3 {
    width: 80%;
    margin: 7px 0;
    font-weight: lighter;
    font-size: 1rem;
  }

  .bot-info {
    @include flex-justify(row, flex-end);
    margin: 20px;
  }  
}

.player-stat {
  border-radius: $borderRad;
  max-width: 1025px;
  margin: auto;

  & > * {
    border-radius: inherit;
  }

  .stat-name {
    @include flex-justify(row, center);

    & > h1 {
      position: sticky;
      top: 0px;
      width: 100%;
      text-align: center;
      margin: 0px;
      // background-color: $darker;
      padding: 5px 20px;
      // border-bottom-right-radius: $borderRad;
      // border-bottom-left-radius: $borderRad;
    }
  }

  .stat-elems {
    @include flex-justify-align(column, center, center);
    position: relative;
  }

  .skill-list {
    @include flex-justify-align(row, center, flex-start);
    height: fit-content;
    flex-wrap: wrap;
    
    .skill {
      flex-shrink: 1;
      margin: 10px;
      flex-grow: 1;

    }
  }

}

.titled-list {
  max-width: 1025px;
  .title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
  .item-list {
    @include flex-justify-align(row, center, flex-start);
    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
  .skill {
    min-width: 0;
    flex-shrink: 2;

    .mid-pad {
      flex-grow: 1;
    }

    .skill-name {
      padding: 0 10px 0 20px;
      width: 250px;
    }

  }

  .player-stat {

    .stat-name {

      & > h1 {
      }
    }

    .stat-elems {

      .skill-list {
        
        .skill {
          min-width: none;
          width: 80%;

        }
      }
    }

  }

}



