$col_dark: #000000;
$col_light: #F3F4ED;
$col_accent: #536162;
$darker_accent: #F3F4ED;

// $font_light: black;
// $font_dark: white;

// $col_dark: #121212;
// $col_light: #F5F5F5;
$font_light: white;
$font_dark: #424642;

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-justify($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex-justify-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}