$col_dark: rgb(29, 28, 42);
$col_light: rgb(11, 10, 27);;
$col_accent: rgb(29, 28, 42);
$light_accent: rgb(0, 235, 156);
$font_light: white;
$font_dark: black;

$borderRad: 8px;

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-justify($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex-justify-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}