$col_dark: #000000;
$col_light: #F3F4ED;
$col_accent: #2a2a2a;
$darker_accent: #000000;

// $col_dark: #000000;
// $col_light: #F3F4ED;
// $col_accent: #536162;
// $darker_accent: #F3F4ED;

$font_light: white;
$font_dark: black;
// $font_dark: #424642;

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-justify($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin flex-justify-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}