@import 'mixins';

$aniHeight: fit-content;

@keyframes zaptop {
    0% {
        border-top-left-radius: 10px;
        background: orange;
        margin-left: 100%;
        margin-top: 10%;
    }

    50% {
        border-top-left-radius: 10px;
        background: orange;
        margin-left: 0%;
        margin-top: 10%;
    }
}

@keyframes zapbot {
    0% {
        border-bottom-right-radius: 10px;
        background: black;
        margin-left: -100%;
        margin-bottom: 10%;
    }

    50% {
        border-bottom-right-radius: 10px;
        background: black;
        margin-left: 0%;
        margin-bottom: 10%;
    }
}

.welcome-container {
    @include flex-justify-align(column, center, center);
    padding: 0px 50px;
    flex-grow: 1;
    background: url(../res/img/blue-tit.jpg) no-repeat;
    background-attachment: fixed;
    font-size: 3rem;

    // .welcome-page:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: inherit;
    //     box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    //     filter: blur(10px);
        
    // }

    

    .animated-bg {
        background: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        
        .relative-container {
            display: flex;
            flex-direction: column;
            position: absolute;
            // position: relative;
            // overflow: hidden;
            width: 100%;
            height: 100%;

            .top, .bot {
                position: relative;
                

                width: 100%;
                height: 50%;
            }

            .top {
                background: white;
                animation-name: zaptop;
                animation-duration: 2s;
                
                
            }
            
            .bot {
                background: whitesmoke;
                animation-name: zapbot;
                animation-duration: 2s;
            }
        }
    }

    .welcome-page {
        background: inherit;
        @include flex-justify-align(column, center, center);
        width: 70vw;
        height: 300px;
        border-radius: 8px;
        position: relative;

        .animatable-container {
            @include flex-justify(column, center);
            flex-grow: 1;



            & > div {
                overflow: hidden;
                width: 100%;
                height: $aniHeight;

                .burried-letter {
                    font-weight: bolder;
                    opacity: 0;
                    margin-top: 10px;
                    display:inline-block;
                    position: relative;
                    transition: margin-top 1.3s ease, opacity 3s ease;
                }

                .emerge {
                    position: sticky;
                    margin-top: 0px;
                    opacity: 1;
                }

            }
            
            
        }

            
    }
}