html {
  height: 100%;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  display: inline-block;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-size: 1.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: inherit;
  width: inherit;
  background: #0b0a1b;
  color: white;
}

body ::-moz-selection {
  background-color: #00eb9c;
  color: black;
}

body ::selection {
  background-color: #00eb9c;
  color: black;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: inherit;
  width: inherit;
  overflow-y: hidden;
  font-size: 1.3rem;
}

#root > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

#root > .right > * {
  width: 70vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
  #root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root > .right > * {
    width: 100%;
  }
}

.sticky-layout {
  position: relative;
}

.sticky-layout .sticky-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: -1;
  background: #0b0a1b;
}

.sticky-layout header > .title {
  font-size: 3rem;
  font-weight: bolder;
  color: #00eb9c;
  text-shadow: black 0 0 7px;
}

.sticky-layout main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 0;
  padding: 10% 7%;
  min-height: 100vh;
}

.sticky-layout main > * {
  width: 100%;
  margin: 20px;
}

.sticky-layout main, .sticky-layout footer {
  background: #29283a;
  color: white;
}

.sticky-layout footer {
  padding: 2% 7%;
}

.sticky-layout:first-child {
  margin-top: 0%;
}

.about-me header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0b0a1b;
  opacity: 0;
  -webkit-box-shadow: inset #00eb9c;
          box-shadow: inset #00eb9c;
}

.about-me header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  background-color: red;
  position: relative;
}

@-webkit-keyframes zaptop {
  0% {
    border-top-left-radius: 10px;
    background: orange;
    margin-left: 100%;
    margin-top: 10%;
  }
  50% {
    border-top-left-radius: 10px;
    background: orange;
    margin-left: 0%;
    margin-top: 10%;
  }
}

@keyframes zaptop {
  0% {
    border-top-left-radius: 10px;
    background: orange;
    margin-left: 100%;
    margin-top: 10%;
  }
  50% {
    border-top-left-radius: 10px;
    background: orange;
    margin-left: 0%;
    margin-top: 10%;
  }
}

@-webkit-keyframes zapbot {
  0% {
    border-bottom-right-radius: 10px;
    background: black;
    margin-left: -100%;
    margin-bottom: 10%;
  }
  50% {
    border-bottom-right-radius: 10px;
    background: black;
    margin-left: 0%;
    margin-bottom: 10%;
  }
}

@keyframes zapbot {
  0% {
    border-bottom-right-radius: 10px;
    background: black;
    margin-left: -100%;
    margin-bottom: 10%;
  }
  50% {
    border-bottom-right-radius: 10px;
    background: black;
    margin-left: 0%;
    margin-bottom: 10%;
  }
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: url(../res/img/blue-tit.jpg) no-repeat;
  background-attachment: fixed;
  font-size: 3rem;
}

.welcome-container .animated-bg {
  background: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
}

.welcome-container .animated-bg .relative-container {
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.welcome-container .animated-bg .relative-container .top, .welcome-container .animated-bg .relative-container .bot {
  position: relative;
  width: 100%;
  height: 50%;
}

.welcome-container .animated-bg .relative-container .top {
  background: white;
  -webkit-animation-name: zaptop;
          animation-name: zaptop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.welcome-container .animated-bg .relative-container .bot::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: -20px;
}

.welcome-container .animated-bg .relative-container .bot {
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 0;
  background: inherit;
  overflow: hidden;
}

.welcome-container .welcome-page {
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.welcome-container .welcome-page .animatable-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.welcome-container .welcome-page .animatable-container > div {
  overflow: hidden;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.welcome-container .welcome-page .animatable-container > div .burried-letter {
  font-weight: bolder;
  opacity: 0;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  -webkit-transition: margin-top 1.3s ease, opacity 3s ease;
  transition: margin-top 1.3s ease, opacity 3s ease;
}

.welcome-container .welcome-page .animatable-container > div .emerge {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0px;
  opacity: 1;
}

@-webkit-keyframes zap-top {
  0% {
  }
}

@keyframes zap-top {
  0% {
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  color: #00eb9c;
}

.nav-buttons .nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-buttons .nav-button .ani-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #1d1c2a;
  margin-left: 20vw;
  border-radius: 70%;
  -webkit-transition: margin-left 0.15s ease-in-out, border-radius 0.15s ease-in-out, margin-top 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out, border-radius 0.15s ease-in-out, margin-top 0.15s ease-in-out;
  visibility: hidden;
}

.nav-buttons .nav-button > a,
.nav-buttons .nav-button > .nav-button > a {
  position: relative;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
  line-height: 50px;
  vertical-align: middle;
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.nav-buttons .nav-button:hover {
  color: #0b0a1b;
  font-size: 1.3em;
}

.nav-buttons .nav-button:hover .ani-bg {
  visibility: visible;
  margin-left: 0px;
  border-radius: 0px;
  background-color: #00eb9c;
}

.smart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.smart-icon a {
  padding: 10px 10px;
  position: relative;
  z-index: 1;
}

.smart-icon a > img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #0b0a1b;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  height: 100%;
  overflow-x: hidden;
}

.navbar .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  background: #0b0a1b;
  width: 20vw;
  margin-left: -20vw;
}

.navbar .navbar-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  background: #1d1c2a;
  overflow: hidden;
}

.navbar .navbar-toggler > .smart-icon > a {
  padding: 0px;
}

.navbar .navbar-toggler #toggler > img {
  -webkit-transition: -webkit-transform 10s ease-in-out;
  transition: -webkit-transform 10s ease-in-out;
  transition: transform 10s ease-in-out;
  transition: transform 10s ease-in-out, -webkit-transform 10s ease-in-out;
  padding: 0px;
}

.navbar .navbar-toggler .tog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar .navbar-toggler .top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .navbar-toggler .bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  #navbar .contents {
    width: 100vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 25vh;
    margin-top: -25vh;
  }
  #navbar .contents .nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  #navbar .contents .nav-buttons .nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  #navbar .contents .nav-buttons .nav-button .ani-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-left: 0vh;
    margin-top: -20vh;
    border-radius: 0px;
  }
  #navbar .contents .nav-buttons .nav-button > a,
  #navbar .contents .nav-buttons .nav-button > .nav-button > a {
    position: relative;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
    line-height: 50px;
    vertical-align: middle;
    padding: 8px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  #navbar .contents .nav-buttons .nav-button:hover {
    font-size: 1.3em;
  }
  #navbar .contents .nav-buttons .nav-button:hover .ani-bg {
    margin-top: 0px;
    border-radius: 0px;
  }
  #navbar .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: 50px;
    border-left: 0px;
  }
  #navbar .navbar-toggler #toggler {
    height: 50px;
    width: 50px;
    -webkit-transform: rotateY(270deg);
            transform: rotateY(270deg);
  }
  #navbar .navbar-toggler .tog-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    height: inherit;
    width: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #navbar .navbar-toggler .tog-section .smart-icon {
    width: 50px;
  }
}

.default-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.default-content header, .default-content main, .default-content footer {
  width: 60vw;
}

.default-content header {
  margin: 5vh 0 0 0;
  color: #00eb9c;
}

@media screen and (max-width: 804px) {
  .default-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .default-content header, .default-content main, .default-content footer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
    padding: 0 8vw;
  }
  .default-content header {
    margin: 5vh 0 0 0;
  }
}

.bite-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1d1c2a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bite-size .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 300px;
  margin: 20px;
}

.bite-size .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bite-size .info-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  margin: 20px;
}

.bite-size .info-container .info > * {
  width: 100%;
  margin: 0;
}

.bite-size .info-container .info h1 {
  color: #00eb9c;
  font-size: 2em;
}

.bite-size .info-container .info h2 {
  font-size: 0.9em;
}

.skill-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}

.skill-cat .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #00eb9c;
  color: white;
  border-radius: 8px;
}

.skill-cat .title > h1 {
  font-size: 1.6rem;
  margin: 0px;
}

.skill-cat .skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 808px;
  overflow-y: auto;
}

.skill-cat .skill-set .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #1d1c2a;
  color: white;
  font-size: 1em;
  border-radius: 8px;
  margin: 8px 0px;
  -webkit-box-shadow: inset 0px 0px 2px #00eb9c;
          box-shadow: inset 0px 0px 2px #00eb9c;
  width: 50%;
}

.skill-cat .skill-set .skill .skill-name, .skill-cat .skill-set .skill .pill-case {
  padding: 20px;
}

.skill-cat .skill-set .skill .skill-name {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.skill-cat .skill-set .skill .mid-pad {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skill-cat .skill-set .skill .pill-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.skill-cat .skill-set .skill .pill-case > .dead-pill {
  background: grey;
  width: 18px;
  height: 18px;
  margin: 10px 4px;
  border-radius: 18px;
}

.skill-cat .skill-set .skill .pill-case > .active-pill {
  background: #00eb9c;
}

.skill-cat .skill-set .skill:last-child {
  margin-bottom: 0px;
}

.neon-container {
  background: #1d1c2a;
  color: white;
  -webkit-box-shadow: 0 0 3px #00eb9c;
          box-shadow: 0 0 3px #00eb9c;
  border-radius: 8px;
  max-width: 1025px;
}

.neon-container > h1 {
  color: #00eb9c;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 8px 0px;
  padding: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skill .mid-pad {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skill .skill-name {
  padding: 0 10px 0 20px;
  width: 250px;
  min-width: 0;
  font-size: 100%;
}

.skill .pill-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px;
}

.skill .pill-case > .dead-pill {
  background: grey;
  width: 18px;
  height: 18px;
  margin: 10px 4px;
  border-radius: 18px;
}

.skill .pill-case > .active-pill {
  background: #00eb9c;
}

.skill:last-child {
  margin-bottom: 0px;
}

.institution {
  position: relative;
}

.institution .stat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
}

.institution .stat-list > .status {
  background: #00eb9c;
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 3px;
  color: black;
}

.institution .gen-info {
  margin: 20px;
}

.institution .gen-info > h2 {
  color: #00eb9c;
  width: 60%;
  margin: 0;
}

.institution .gen-info > h3 {
  width: 80%;
  margin: 7px 0;
  font-weight: lighter;
  font-size: 1rem;
}

.institution > h2 {
  width: 60%;
  margin: 0;
}

.institution > h3 {
  width: 80%;
  margin: 7px 0;
  font-weight: lighter;
  font-size: 1rem;
}

.institution .bot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px;
}

.player-stat {
  border-radius: 8px;
  max-width: 1025px;
  margin: auto;
}

.player-stat > * {
  border-radius: inherit;
}

.player-stat .stat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-stat .stat-name > h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 5px 20px;
}

.player-stat .stat-elems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.player-stat .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.player-stat .skill-list .skill {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.titled-list {
  max-width: 1025px;
}

.titled-list .title {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.titled-list .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titled-list .item-list > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
  .skill {
    min-width: 0;
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
  .skill .mid-pad {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .skill .skill-name {
    padding: 0 10px 0 20px;
    width: 250px;
  }
  .player-stat .stat-elems .skill-list .skill {
    min-width: none;
    width: 80%;
  }
}
/*# sourceMappingURL=index.css.map */